.card-grid {
  margin-top: 1rem;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

