---
pagePosition: bottom
---
<section class="mt-12 px-4">

  <div class="m-4 mx-auto lg:container">
    <div class="border-b pb-4">
      <h2 class="px-4 glbHeading">Find out about a team…</h2>
    </div>

    <div class="card-grid">
    {% for team in teams | sort(false, false, "title")  %}
      {% if team.teamTypes | includesFromKey("slug", "serving-teams") %}
        <div
          class="card"
          x-data="{ open: false }"
          x-init="$watch('open', val => document.body.classList.toggle('overflow-hidden', val))"
        >
          <div class="card__img">
            {% if team.featuredImage.url %}
            {% rwdImg team.featuredImage.url, team.featuredImage.alt, [250, 400, 600], "", "(min-width: 640px) 33vw, (min-width: 480px) 50vw, 100vw", true, [16, 9] %}
            {% else %}
            {% set imgPath = "src/_assets/img/passThrough/placeholder/" + (1 | randomNumber(4)) + ".jpg" %}
            {% rwdImg imgPath, "", [250, 400, 600], "", "(min-width: 640px) 33vw, (min-width: 480px) 50vw, 100vw", true, [16, 9] %}
            {% endif %}
          </div>

          <div class="card__content">
            <h3 class="card__title">{{ team.title }}</h3>
            <p>{{ team.summary }}</p>
            {% if team.content and team.content != "" %}
              <a
                href="/get-involved/{{ team.teamTypes[0].slug }}/{{ team.slug }}"
                class="card__action"
                @click.prevent="open = !open"
                @keyup.window.escape="open = false"
              >
                Find out more
              </a>
            {% endif %}
          </div>
          <div
            x-cloak
            x-show="open"
            @click.self="open = false"
            x-transition.opacity
            class="fixed p-4 inset-0 z-50 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
          >
            <div class="relative bg-cream rounded-md mx-4 overflow-scroll max-w-screen-sm" style="max-height: calc(100vh - 2rem)">
              <button
                @click.prevent="open = false"
                class="sticky float-right right-2 top-2 bg-white rounded-full aspect-square w-8 h-8 flex items-center justify-center z-10 hover:text-orange hover:rotate-12 hover:bg-cream transition-all"
              >
                {% svgIcon "close", "w-6 h-6", "Close" %}
              </button>

              {% if team.featuredImage.url %}
                {% rwdImg team.featuredImage.url,
                  team.featuredImage.alt, [330, 640], "w-full top-0 sticky float-left mb-4 -mt-8", "(min-width: 640px) 50vw, 640px"
                %}
                {% endif %}

                <div class="p-4">
                  <h1 class="glbHeading mb-4">{{ team.title }}</h1>

                  <div class="flex gap-4 flex-col mb-4 items-start border-b border-cream-dark pb-4">

                  {% if team.teamLeaders %}
                  <div class="flex flex-col sm:flex-row gap-1 sm:items-center">
                    <div class="avatarList avatarList--small">
                    {% for leader in team.teamLeaders %}
                      {% if leader.thumbnail %}
                      {% rwdImg leader.thumbnail, leader.name, [50, 100], "avatar avatar--small", "50px" %}
                      {% endif %}
                    {% endfor %}
                    </div>

                    <div>
                      <span class="block text-sm">
                      {% if team.teamLeaders | length > 1 %}
                        Team leaders:
                      {% else %}
                        Team leader:
                      {% endif %}
                      </span>

                      {# Team leader… all on one line to get the commas to play nicely #}
                      {% for leader in team.teamLeaders %}{% if not loop.first %}{% if loop.last %}, and {% else %}, {% endif %}{% endif %}{{ leader.name }}{% endfor %}
                    </div>

                  </div>
                  {% endif %}

                  {% if team.signups[0].acceptsSignup == true %}
                    <a
                      target="_blank"
                      href="{{ team.signups[0].signUpUrl if team.signups[0].signUpUrl else '/contact' }}"
                      class="px-2 py-1 mr-2 rounded bg-orange text-white no-underline transition-colors hover:bg-orange-dark"
                    >
                      Join the team
                    </a>
                  {% endif %}

                  </div>

                  <div class="prose">
                    {{ team.content | safe }}
                  </div>
                </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
