---
title: Preaching
layout: layouts/base.njk
---

<ol>
  {% for item in preaching %}
    <li>
      <a href="/resources/{{ item.slug }}">
        {{ item.title.rendered }}
      </a>
    </li>
  {% endfor -%}
</ol>
