---
pagination:
  data: "sermonseries"
  size: 1
  alias: series
permalink: "preaching/{{ series.slug }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ series.title }}"
  featured_img: "{{ series.artwork_url }}"
---
{% if series.slug != "one-off-sermons" %}
{% set sermons = series | sermonsInSeries(preaching) | sort(false, true, 'date') %}
{% else %}
{% set sermons = series | sermonsInSeries(preaching) | sort(true, true, 'date') %}
{% endif %}

<main class="mt-12 px-4">
  <header class="m-4 mx-auto lg:container">
    {% if series.artwork_url %}
      <div class="sm:aspect-[16/7] w-full sm:bg-cover sm:bg-center sm:overflow-hidden sm:relative">
        {% rwdImg series.artwork_url, "", [550, 1024, 1512, 2056], "sm:inset-0 w-full h-full sm:absolute sm:object-cover", "100vw" %}

        <div class="px-4 pt-4 sm:absolute sm:inset-0 bg-gradient-to-b from-transparent via-white/20 to-white sm:flex sm:flex-col sm:justify-end sm:items-start">
          <a href="/preaching" class="hidden sm:block">
            Preaching
          </a>
          <h1 class="glbHeading md:text-2xl">
            {{ series.title }}
          </h1>
          {% if series.start_date %}
          <p class="text-sm block">{% dateRange series.start_date, series.end_date %}</p>
          {% endif %}
        </div>
      </div>

      {% if series.description %}
        <div class="mt-4 px-4 prose lg:prose-xl">
          <p>{{ series.description }}</p>
        </div>
      {% endif %}
    {% else %}
      <div class="px-4">
        <a href="/preaching">
          Preaching
        </a>
        <h1 class="glbHeading md:text-2xl">{{ series.title }}</h1>
        {% if series.start_date %}
          <p class="text-sm block">{% dateRange series.start_date, series.end_date %}</p>
        {% endif %}
        {% if series.description %}
          <div class="prose lg:prose-xl">
            <p>{{ series.description }}</p>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </header>

  <div class="m-4 mx-auto lg:container">
    <div class="border-b pb-4">
      <h2 class="px-4 glbHeading">In this series</h2>
    </div>

    <div class="w-full grid grid-cols-1 divide-y divide-orange/30">

      {% for sermon in sermons %}
        <a href="/resources/{{ sermon.slug }}" class="p-4 no-underline flex justify-between items-center hover:underline group">
          <div>
            <h3 class="font-bold">{{ sermon.title }}</h3>
            <p class="text-sm text-blue">{{ sermon.meta.glb_sermon_passage }}</p>
            <p class="text-sm text-blue">{{ sermon.date | formatDate('dddd, Do MMMM YYYY') }}</p>
          </div>
          <div>
            <p class="flex items-center">
              <span>Listen now</span>
              {% svgIcon "icon-play", "ml-1 h-6 w-6 inline-block transition group-hover:translate-x-1", "Play icon" %}
            </p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

</main>
