---
pagination:
  data: "preaching"
  size: 1
  alias: preaching
permalink: "resources/{{ preaching.slug }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ preaching.title }}"
  description: "{{ preaching.content | striptags }}"
---

{% set authorDetails = preaching.author | authorLookup(people) %}
{% set series = preaching.sermon_series[0] | seriesLookup(sermonseries) %}

<main class="mt-16 px-4">
  <header class="mx-auto lg:container mb-4">
    {% if series.artwork_url %}
      <div class="sm:aspect-[16/7] w-full sm:bg-cover sm:bg-center sm:overflow-hidden sm:relative">
        {% rwdImg series.artwork_url, "", [550, 1024, 1512, 2056], "sm:inset-0 w-full h-full sm:absolute sm:object-cover", "100vw" %}

        <div class="px-4 pt-4 sm:absolute sm:inset-0 bg-gradient-to-b from-transparent via-white/20 to-white sm:flex sm:flex-col sm:justify-end sm:items-start">

          <div class="group inline-flex gap-1 items-center">
            {% svgIcon "icon-arrowLeft", "shrink-0 h-4 w-4 transition group-hover:-translate-x-2", "Date" %}
            <a href="/preaching" class="text-orange/50 sm:inline-flex gap-1 items-center">
              <span>Preaching</span>
            </a>
            /
            <a href="/preaching/{{ series.slug }}" class="">
              {{ series.title }}
            </a>
          </div>

          <h1 class="glbHeading md:text-2xl">
            {{ title }}
          </h1>

        </div>
      </div>

    {% else %}
    <div class="px-4 pt-4">

      <div>
        <a href="/preaching" class="text-orange/50">Preaching</a> /
        <a href="/preaching/{{ series.slug }}" class="hidden sm:inline-block">
          {{ series.title }}
        </a>
      </div>

      <h1 class="glbHeading md:text-2xl">
        {{ title }}
      </h1>

    </div>
    {% endif %}
  </header>

  <div class="mx-auto lg:container">

    <div class="md:flex gap-4 px-4 mb-4">
      {% if preaching.date %}
      <date class="text-sm flex gap-2 items-center">
        {% svgIcon "icon-calendar", "shrink-0 h-4 w-4", "Date" %}
        <span>{{ preaching.date | formatDate('dddd, Do MMMM YYYY') }}</span>
      </date>
      {% endif %}

      {% if preaching.meta.glb_sermon_passage %}
      <p class="text-sm flex gap-2 items-center">
        {% svgIcon "icon-book", "shrink-0 h-4 w-4", "Preaching passage" %}
        <span>{{ preaching.meta.glb_sermon_passage }}</span>
      </p>
      {% endif %}

      {% if authorDetails %}
      <p class="text-sm flex gap-2 items-center">
        {% svgIcon "icon-person", "shrink-0 h-4 w-4", "Preached by" %}
        <span>{{ authorDetails.name }}</span>
      </p>
      {% endif %}
    </div>

    <div class="px-4 prose prose-globeBlue lg:prose-xl mb-4">
      {{ preaching.content | safe }}
    </div>

    <audio class="px-4 mb-4 w-full" src="{{ preaching.sermon_data.url }}" preload="metadata" controls></audio>

    <a href="/preaching/{{ series.slug }}" class="relative block lg:container mx-auto sm:my-8 w-full bg-cover bg-center min-h-[250px] text-white overflow-hidden group">
      {% rwdImg series.artwork_url, "", [550, 1024, 1512, 2056], "sm:inset-0 w-full h-full sm:absolute sm:object-cover", "100vw" %}

      <div class="absolute inset-0 flex flex-col justify-end items-start bg-blue/50 p-4 transition-colors group-hover:bg-blue/20">

        <p class="text-lg">
          This recording is part of the series…
        </p>

        <p class="text-2xl font-bold uppercase">
          {{ series.title }}
        </p>

        <span class="mt-2 inline-block px-2 py-1 rounded bg-orange text-white no-underline transition-colors hover:bg-blue">Go to series</span>
      </div>
    </a>


  </div>

</main>

<div class="mt-12 px-4">
  <div class="mx-auto lg:container">

    {% include 'blocks/podcast.njk' %}

  </div>
</div>
