---
pagination:
  data: posts
  size: 5
title: Church blog
layout: default
---

<main class="mt-16 px-4">
  <header class="m-4 mx-auto lg:container">
    <h1 class="p-4 glbHeading md:text-2xl">
      Church blog
    </h1>
  </header>

  <div class="m-4 mx-auto lg:container grid gap-4">
    {% for item in pagination.items %}
      <a href="/blog/{{ item.slug }}" class="w-full text-blue group no-underline transition-colors bg-orange/10 p-4 hover:bg-orange/20">
        <div class="flex flex-col-reverse">
          <h2 class="uppercase font-bold">{{ item.title.rendered | safe }}</h2>
          <date class="text-sm flex gap-1 items-center">
            {% svgIcon "icon-calendar", "shrink-0 h-4 w-4", "Date" %}
            <span>{{ item.date | formatDate('dddd, D MMMM YYYY') }}</span>
          </date>
        </div>

        <p class="my-2">{{ item.excerpt.rendered | striptags | safe }}</p>

        <button class="underline group-hover:no-underline">
          Keep reading
        </button>
      </a>
    {% endfor %}
  </div>

  <nav class="m-4 mx-auto lg:container">
    <ol class="p-4 flex gap-2 sm:gap-4 justify-between">
      <li class="flex gap-2 sm:gap-4">
        {% if pagination.pages | length > 9 %}
        {% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% endif %}
        {% endif %}
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" aria-label="Previous">Prev</a>
        {% else %}&nbsp;{% endif %}
      </li>
      <li class="hidden sm:block">
        <ol class="flex gap-2 sm:gap-4">
        {% if pagination.pages | length > 9 %}
          {% for pageEntry in pagination.pages %}
            {% if loop.index0 >= pagination.pageNumber - 4 and loop.index0 <= pagination.pageNumber + 4 %}

              <li>
                {% if page.url == pagination.hrefs[ loop.index0 ] %}
                  <span>{{ loop.index }}</span>
                {% else %}
                <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>
                  {{ loop.index }}
                </a>
                {% endif %}
              </li>

            {% endif %}
          {% endfor %}
        {% else %}
          {% for pageEntry in pagination.pages %}
            <li>
              {% if page.url == pagination.hrefs[ loop.index0 ] %}
                <span>{{ loop.index }}</span>
              {% else %}
              <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>
                {{ loop.index }}
              </a>
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}
        </ol>
      </li>

      <li class="flex gap-2 sm:gap-4">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">Next</a>
        {% else %}<span>&nbsp;</span>{% endif %}

        {% if pagination.pages | length > 9 %}
        {% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% endif %}
        {% endif %}
      </li>

    </ol>
  </nav>
</main>
