---
pagination:
  data: posts
  size: 5
title: Church blog
layout: default
---

<main class="mt-12 px-4">
  <header class="m-4 mx-auto lg:container">
    <h1 class="p-4 glbHeading md:text-2xl">
      Church blog
    </h1>
  </header>

  {% for item in pagination.items %}
    <a href="/blog/{{ item.slug }}" class="block mb-4 p-4 border border-orange text-blue no-underline lg:container mx-auto sm:mb-8 hover:border-blue">
      <h2 class="uppercase font-bold">{{ item.title.rendered | safe }}</h2>
      <date class="text-sm mb-4 block">{{ item.date | formatDate('dddd, D MMMM YYYY') }}</date>
      <p>{{ item.excerpt.rendered | striptags | safe }}</p>
    </a>
  {% endfor %}

  <nav class="m-4 mx-auto lg:container">
    <ol class="p-4 flex gap-2 sm:gap-4 justify-between">
      <li class="flex gap-2 sm:gap-4">
        {% if pagination.pages | length > 9 %}
        {% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% endif %}
        {% endif %}
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" aria-label="Previous">Prev</a>
        {% else %}&nbsp;{% endif %}
      </li>
      <li class="hidden sm:block">
        <ol class="flex gap-2 sm:gap-4">
        {% if pagination.pages | length > 9 %}
          {% for pageEntry in pagination.pages %}
            {% if loop.index0 >= pagination.pageNumber - 4 and loop.index0 <= pagination.pageNumber + 4 %}

              <li>
                {% if page.url == pagination.hrefs[ loop.index0 ] %}
                  <span>{{ loop.index }}</span>
                {% else %}
                <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>
                  {{ loop.index }}
                </a>
                {% endif %}
              </li>

            {% endif %}
          {% endfor %}
        {% else %}
          {% for pageEntry in pagination.pages %}
            <li>
              {% if page.url == pagination.hrefs[ loop.index0 ] %}
                <span>{{ loop.index }}</span>
              {% else %}
              <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>
                {{ loop.index }}
              </a>
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}
        </ol>
      </li>

      <li class="flex gap-2 sm:gap-4">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">Next</a>
        {% else %}<span>&nbsp;</span>{% endif %}

        {% if pagination.pages | length > 9 %}
        {% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% endif %}
        {% endif %}
      </li>

    </ol>
  </nav>
</main>
