---
pagination:
    data: posts
    size: 1
    alias: posts
permalink: "blog/{{ posts.slug }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ posts.title.rendered }}"
---

<main class="mt-12 px-4">
  <header class="m-4 mx-auto lg:container">
    <h1 class="p-4 glbHeading md:text-2xl">{{ title }}</h1>
  </head>

  <div class="mx-auto lg:container">
    <article class="px-4 prose prose-globeBlue lg:prose-xl">
      {{ posts.content.rendered | safe }}
    </article>
  </div>
</main>
