---
pagination:
  data: posts
  size: 1
  alias: post
permalink: "blog/{{ post.slug }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ post.title | safe }}"
  description: "{{ post.description }}"
  featuredImage: "{{ post.featured_img_url }}"
---
{% set authorDetails = post.author | authorLookup(people) %}

<main class="mt-12 px-4">
  <header class="mx-auto lg:container mb-4">
    {% if post.featured_media %}
    <div class="sm:aspect-[16/7] w-full sm:bg-cover sm:bg-center sm:overflow-hidden sm:relative">
      {% rwdImg post.featured_img_url, "", [550, 1024, 1512, 2056], "sm:inset-0 sm:absolute sm:object-cover sm:h-full", "100vw" %}

      <div class="px-4 pt-4 sm:absolute sm:inset-0 bg-gradient-to-b from-transparent via-white/20 to-white sm:flex sm:flex-col sm:justify-end sm:items-start">

        <a href="/blog" class="hidden sm:flex gap-1 items-center group">
          {% svgIcon "icon-arrowLeft", "shrink-0 h-4 w-4 transition group-hover:-translate-x-2", "Date" %}
          <span>All posts</span>
        </a>

        <h1 class="glbHeading md:text-2xl">
          {{ title | safe }}
        </h1>

        <date class="text-sm flex gap-2 items-center">
          {% svgIcon "icon-calendar", "shrink-0 h-4 w-4", "Date" %}
          <span>{{ post.date | formatDate('dddd, Do MMMM YYYY') }}</span>
        </date>
      </div>
    </div>
    {% else %}
      <div class="mx-auto lg:container mb-4 px-4">
        <a href="/blog" class="hidden sm:flex gap-1 items-center group">
          {% svgIcon "icon-arrowLeft", "shrink-0 h-4 w-4 transition group-hover:-translate-x-2", "Date" %}
          <span>All posts</span>
        </a>

        <h1 class="glbHeading md:text-2xl">
          {{ title | safe }}
        </h1>
        <date class="text-sm flex gap-2 items-center">
          {% svgIcon "icon-calendar", "shrink-0 h-4 w-4", "Date" %}
          <span>{{ post.date | formatDate('dddd, D MMMM YYYY') }}</span>
        </date>
      </div>
    {% endif %}
  </header>

  <div class="mx-auto lg:container lg:grid gap-12 lg:grid-cols-4">
    <article class="px-4 prose prose-globeBlue lg:prose-xl lg:col-span-3">
      {{ post.content.rendered | safe }}
    </article>

    <aside class="border-t border-b mt-4 pt-4 lg:mt-0 lg:pt-0 lg:border-0 leading-7 lg:text-lg lg:leading-loose">
      <div class="sm:grid sm:gap-4 sm:grid-cols-2 lg:grid-cols-1 lg:sticky lg:top-24 divide-y sm:divide-y-0 lg:divide-y lg:gap-0">
        <div class="flex flex-row gap-4 px-4 pb-4 lg:flex-col">

          {% if authorDetails.profile_photo_url %}
          <div class="flex-shrink-0 aspect-square w-32 h-32 rounded-full bg-cover bg-center overflow-hidden relative">
          {% rwdImg authorDetails.profile_photo_url, "", [150, 300], "inset-0 absolute sm:object-cover", "150px" %}
          </div>
          {% endif %}

          <div class="flex flex-col justify-center md:justify-start">
            <p class="block font-bold">Written by {{ authorDetails.name }}</p>
            {% if authorDetails.description %}
              <p>{{ authorDetails.description }}</p>
            {% endif %}
          </div>

        </div>

        {# TODO: if other posts by author #}
        {# <div class="px-4 py-4">
          <p class="block font-bold">Other posts by {{ authorDetails.name }}</p>
        </div> #}

        {# else #}
        <div class="py-4 px-4 sm:pt-0 lg:py-4">
          <p class="block font-bold">Recent posts</p>
          <ol class="ml-4 list-disc list-outside">
            {% for p in posts.slice(0, 5) %}
              <li><a href="/blog/{{ p.slug }}">{{ p.title | safe }}</a></li>
            {% endfor %}
          </ol>
          <a href="/blog">All posts</a>
        </div>
        {# endif #}
      </div>

    </aside>
  </div>
</main>
