<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/_assets/css/tw.css?v={{ data.buildRef }}" media="screen" type="text/css">

    <title>
      {% set maintitle = "The Globe Church" %}
      {% if title %}
        {{ title | safe }}
        {% else%}
        {{ maintitle | safe }}
      {% endif %}
    </title>

    <meta property="og:title" content="{{ title }}{{" &middot The Globe Church" | safe if title else "The Globe Church"}}"/>
    <meta property="og:url" content="https://globe.church{{ page.url }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ header }}"/>
    <meta property="og:type" content="website"/>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#d06348">

    <link rel="preconnect" href="https://use.typekit.net"/>

    <meta name="generator" content="{{ eleventy.generator }}"/>
    <link rel="author" href="/humans.txt"/>

    <link rel="me" href="https://instagram.com/{{ meta.instagram }}"/>
    <link rel="me" href="https://twitter.com/{{ meta.twitter }}"/>
    <link rel="me" href="https://facebook.com/{{ meta.facebook }}"/>
    <link rel="me" href="https://youtube.com/{{ meta.youtube }}"/>
    <link rel="me" href="https://linkedin.com/company/{{ meta.linkedin }}"/>

    <script defer src="/_assets/js/main.js"></script>

    <!-- RSS FEED
    {# <link rel="alternate" type="application/rss+xml" title="The Globe Church Blog" href="/blog/feed.xml" /> #}
    -->

  </head>

  <body>
    {% include 'blocks/header.njk' %}

    <div id="site-content" class="sm:ml-16">
      {{ layoutContent | safe }}

      {% include 'blocks/footer.njk' %}
    </div>
    <!-- last build: {{ build.env }} {{ build.timestamp }} -->
  </body>
</html>