:root {
  --white: #ffffff;
  --background: #fbf0ed;
  --text: hsl(233, 18%, 9%);
  --cream: hsl(20, 24%, 93%);
  --cream-burnt: #EFDDD7;
  --sockeye-orange: hsl(12, 59%, 55%);
  --petrel-blue: hsl(236, 17%, 19%);
  --gold-braid: hsl(49, 54%, 51%);
  --lark-green: hsl(152, 35%, 64%);
  --carol-blue: hsl(196, 52%, 45%);
  --cherry-pink: hsl(353, 54%, 57%);
  --sheer-lilac: hsl(290, 25%, 67%);
}

@view-transition {
  navigation: auto;
}
