---
pagination:
  data: events
  size: 1
  alias: event
permalink: "calendar/{{ event.startDate | formatDate }}/{{ event.slug }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ event.title }}"
---
{% set futureEvents = events | eventsFuture(0, 'day') | eventsSort | limit(6) %}

<main class="mt-12 px-4">
  <header class="mx-auto lg:container mb-4">
    <div class="px-4 pt-4">

      <a href="/calendar#thisWeek" class="hidden sm:block">All events</a>

      {% if event.data.tags %}
        <div>
          {% for tag in event.data.tags %}
            <span class="rounded bg-orange px-2 py-1 mr-1 mb-1 text-xs text-white inline-block uppercase font-bold">
              {{ tag }}
            </span>
          {% endfor %}
        </div>
      {% endif %}

      <h1 class="glbHeading md:text-2xl">
        {{ title }}
      </h1>

      <date class="flex gap-2 items-start">
        {% svgIcon "clock", "shrink-0 h-4 w-4 mt-1 group-hover:text-orange", "Event time" %}

        <span>
          {% if event.startDate | formatDate() != event.endDate | formatDate() %}
            {{ event.startDate | formatDate('dddd, Do MMMM YYYY HH:mm') }} &mdash; {{ event.endDate | formatDate('dddd, Do MMMM YYYY HH:mm') }}
          {%  else %}
            {{ event.startDate | formatDate('dddd, Do MMMM YYYY HH:mm') }} &mdash; {{ event.endDate | formatDate('HH:mm') }}
          {% endif %}

          ({{ event.duration }})
        </span>
      </date>

      {% if event.location %}
      <p class="flex gap-2 items-start">
        {% svgIcon "pin", "shrink-0 h-4 w-4 mt-1 group-hover:text-orange", "Event location" %}
        <span>{{ event.location }}</span>
      </p>
      {% endif %}
    </div>
  </header>



  <div class="mx-auto lg:container lg:grid gap-12 lg:grid-cols-4">
    <article class="px-4 prose prose-globeBlue lg:prose-xl lg:col-span-3">
      {{ event.body }}

      {% if event.data.url %}
        <div class="border m-4 p-4">
          {{ event.data.url }}
        </div>
      {% endif %}
    </article>

    <aside class="border-t border-b mt-4 pt-4 lg:mt-0 lg:pt-0 lg:border-0 leading-7 lg:text-lg lg:leading-loose">
      <div class="sm:grid sm:gap-4 sm:grid-cols-2 lg:grid-cols-1 lg:sticky lg:top-24 divide-y sm:divide-y-0 lg:divide-y lg:gap-0">
        <div class="px-4 pb-4">
          <p class="block font-bold">Upcoming church events…</p>
          <ol class="ml-4 list-disc list-outside">
            {% for fEvent in futureEvents %}
              {% if fEvent.slug !== event.slug %}
                <li>
                  <a href="/calendar/{{ fEvent.startDate | formatDate}}/{{ fEvent.slug }}/" class=" lg:leading-snug">
                    {{ fEvent.title }}
                    <span class="text-sm block">{{ fEvent.startDate | formatDate('D MMM, HH:mm') }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ol>
          <p>
            <a href="/calendar">All events</a>
          </p>
        </div>
      </div>
    </aside>
  </div>


</main>
