---
pagination:
  data: events
  size: 1
  alias: event
permalink: "calendar/{{ event.startDate | formatDate }}/{{ event.slug }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ event.title }}"
---

<h1>{{ event.title }}</h1>

<div class="border m-4 p-4">
  <p>{{ event.startDate }} - {{ event.endDate }} ({{ event.duration }})</p>
  <p>{{ event.location }}</p>
</div>

<div class="border m-4 p-4">
  {{ event.body }}
</div>

{% if event.data.url %}
<div class="border m-4 p-4">
  {{ event.data.url }}
</div>
{% endif %}
