---
pagination:
  data: events
  size: 1
  alias: event
permalink: "calendar/{{ event.startDate | formatDate }}/{{ event.slug }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ event.title }}"
  description: "{{ event.body | striptags | truncate(256) }}"
---

<main class="mt-16 px-4">
  <header class="mx-auto lg:container mb-4">
    <div class="px-4 pt-4">

      <a href="/calendar#thisWeek" class="hidden sm:block">All events</a>

      {% if event.data.tags %}
        <div>
          {% for tag in event.data.tags %}
            <span class="rounded bg-orange px-2 py-1 mr-1 mb-1 text-xs text-white inline-block uppercase font-bold">
              {{ tag }}
            </span>
          {% endfor %}
        </div>
      {% endif %}

      <h1 class="glbHeading md:text-2xl">
        {{ title | safe}}
      </h1>

      <date class="flex gap-2 items-start">
        {% svgIcon "clock", "shrink-0 h-4 w-4 mt-1", "Event time" %}

        <span>
          {% if event.startDate | formatDate() != event.endDate | formatDate() %}
            {{ event.startDate | formatDate('dddd, Do MMMM YYYY HH:mm') }} &mdash; {{ event.endDate | formatDate('dddd, Do MMMM YYYY HH:mm') }}
          {%  else %}
            {{ event.startDate | formatDate('dddd, Do MMMM YYYY HH:mm') }} &mdash; {{ event.endDate | formatDate('HH:mm') }}
          {% endif %}

          ({{ event.duration }})
        </span>
      </date>

      {% if event.location %}
      <p class="flex gap-2 items-start">
        {% svgIcon "pin", "shrink-0 h-4 w-4 mt-1", "Event location" %}
        <span>{{ event.location }}</span>
      </p>
      {% endif %}
    </div>
  </header>



  <div class="mx-auto lg:container">
    <article class="px-4 prose prose-globeBlue lg:prose-xl lg:col-span-3">

      <div>{{ event.body }}</div>

      {% if event.data.url %}
        <div class="my-8 py-4">
          Find out more at:<br />
          <a href="{{ event.data.url }}">{{ event.data.url | replace('https://','') }}</a>

        </div>
      {% endif %}
    </article>

    <aside class="border-t border-b mt-4 pt-4 lg:mt-0 lg:pt-0 lg:border-0 leading-7 lg:text-lg lg:leading-loose">
      <div class="justify-between items-center p-4 pb-0 sm:pb-4 sm:border-b sm:flex sm:gap-4">
        <h2 class="glbHeading">Upcoming events</h2>
        <a href="/calendar#thisWeek" class="">All events</a>
      </div>

      <div class="p-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {% set futureEvents = events | eventsFuture(0, 'day') | eventsSort | limit(4) %}
        {% for event in futureEvents %}
          {% include 'blocks/simpleEvent.njk' %}
        {% endfor %}
      </div>

    </aside>
  </div>


</main>
