---
title: Calendar
layout: layouts/base.njk
---
<div class="grid gap-4">
  {% for event in events %}
    <a href="/calendar/{{ event.startDate | formatDate}}/{{ event.slug }}/" class="block border p-4 hover:border-red-400">
      {{ event.title }}
      {{ event.startDate }} - {{ event.endDate }}
      {{ event.duration }}
      {{ event.location }}
    </a>
  {% endfor %}
</div>
