---
title: Calendar
layout: layouts/base.njk
---
<div class="grid gap-4">
  <h2>Events this week</h2>

{% svgIcon "pin", "h-16 w-16 text-orange" %}
{% svgIcon "clock", "h-16 w-16 text-green" %}

  {% for event in events | eventThisWeek | eventsSort %}
    <a
      href="/calendar/{{ event.startDate | formatDate}}/{{ event.slug }}/"
      class="block border p-4 hover:border-blue"
      itemscope itemtype="https://schema.org/Event"
    >
      <date class="block text-xs" itemprop="startDate" content="{{ event.startDate }}">
        {{ event.startDate | formatDate('dddd, D MMMM YYYY, h:mma') }} ({{ event.duration }})
      </date>

      <p itemprop="name">
        {{ event.title }}
      </p>

      <p itemprop="location" itemscope itemtype="https://schema.org/Place">{{ event.location }}</p>
    </a>
  {% endfor %}

  <hr />

  <h2>Future events</h2>
  {% for event in events | eventsFuture(7, 'day') | eventsSort %}
    <a href="/calendar/{{ event.startDate | formatDate}}/{{ event.slug }}/" class="block border p-4 no-underline hover:border-blue">
      {% if event.data.tags %}
      <div>
        {% for tag in event.data.tags %}
          <span class="rounded bg-orange px-1 mr-1 text-xs text-white inline-block">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
      {{ event.title }}<br />
      {{ event.startDate | formatDate('dddd, D MMMM YYYY') }}<br />
      {{ event.startDate | formatDate('h:mma') }} – {{ event.endDate | formatDate('h:mma') }} ({{ event.duration }})

      <p>{{ event.location }}</p>
    </a>
  {% endfor %}
</div>
