---
title: Calendar
layout: layouts/base.njk
---

<div class="grid grid-flow-row gap-3">
  <h2 class="text-xl mt-5 mx-4">EVENTS THIS WEEK</h2>

  {% set date = 'null' %}
  {% for event in events | eventThisWeek | eventsSort %}

    {% if event.startDate !== date %}
      <!-- DATE OF EVENT-->
      <div class="mx-4 text-lg text-black">
        {{ event.startDate | formatDate('dddd D MMMM') }}
      </div>
      <!-- LINE -->
      <hr class="mx-4 -mt-1 text-black"/>
      {% set date = event.startDate %}
    {% endif %}

    <div class="mx-4 grid grid-flow-row grid-cols-2 gap-3">
      <!-- BORDER, COLOUR & HREF, URL LINK ??? -->
      <a
        href="/calendar/{{ event.startDate | formatDate}}/{{ event.slug }}/"
        class="no-underline"
        itemscope itemtype="https://schema.org/Event"
      >

        <!-- NAME OF EVENT -->
        <p itemprop="name">
          {{ event.title }}
        </p>

        <!-- TIME -->
        <div class="float-left pr-2">{% svgIcon "clock", "h-3 w-3 text-green" %}</div>
        <date class="block text-xs" itemprop="startDate" content="{{ event.startDate }}">
          {{ event.startDate | formatDate('h:mma') }} – {{ event.endDate | formatDate('h:mma') }} ({{ event.duration }})
        </date>

        <!-- LOCATION -->
        <div class="float-left pr-2">{% svgIcon "pin", "h-3 w-3 text-orange" %}</div>
        <p class="text-xs" itemprop="location" itemscope itemtype="https://schema.org/Place">
          {{ event.location}}
        </p>

        <!-- MORE INFORMATION -->
        <p class="text-xs hover:underline">
          More information
        </p>

        <!-- EVENT TAGS -->
        {% if event.data.tags %}
          <div>
            {% for tag in event.data.tags %}
              <span class="rounded bg-orange px-1 mr-1 text-xs text-white inline-block">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}

      </a>
    </div>
  {% endfor %}



  <h2 class="text-xl mt-6 mx-4">FUTURE EVENTS</h2>
  {% set date = 'null' %}
  {% for event in events | eventsFuture(7, 'day') | eventsSort %}

    {% if event.startDate !== date %}
      <!-- DATE OF EVENT-->
      <div class="mx-4 text-lg text-black">
        {{ event.startDate | formatDate('dddd D MMMM') }}
      </div>
      <!-- LINE -->
      <hr class="mx-4 -mt-1 text-black"/>
      {% set date = event.startDate %}
    {% endif %}

    <div class="mx-4 grid grid-flow-row grid-cols-2 gap-3">
      <!-- BORDER, COLOUR & HREF, URL LINK ??? -->
      <a 
        href="/calendar/{{ event.startDate | formatDate}}/{{ event.slug }}/" 
        class="no-underline"
      >

        <!-- NAME OF EVENT -->
        <p itemprop="name">
          {{ event.title }}
        </p>

        <!-- TIME -->
        <div class="float-left pr-2">{% svgIcon "clock", "h-3 w-3 text-green" %}</div>
        <date class="block text-xs" itemprop="startDate" content="{{ event.startDate }}">
          {{ event.startDate | formatDate('h:mma') }} – {{ event.endDate | formatDate('h:mma') }} ({{ event.duration }})
      </date>

        <!-- LOCATION -->
        <div class="float-left pr-2">{% svgIcon "pin", "h-3 w-3 text-orange" %}</div>
        <p class="text-xs">
          {{ event.location }}
        </p>

        <!-- MORE INFORMATION -->
        <p class="text-xs hover:underline">
        More information
      </p>

        <!-- EVENT TAGS -->
        {% if event.data.tags %}
          <div>
            {% for tag in event.data.tags %}
              <span class="rounded bg-orange mb-4 px-1 mr-1 text-xs text-white inline-block">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}

      </a>
    </div>
  {% endfor %}
</div>
