---
title: Latest Pages
layout: layouts/base.njk
---

<ol>
  {% for item in pages %}
    <li>
      <a href="/{{ item.slug }}">
        {{ item.title.rendered }}
      </a>
    </li>
  {% endfor -%}
</ol>
