---
pagination:
  data: "pages"
  size: 1
  alias: pages
permalink: "{{ pages.slug }}/index.html"
layout: textPage
eleventyComputed:
  title: "{{ pages.title.rendered }}"
---

<main class="mt-12 px-4">
  <header class="m-4 mx-auto lg:container">
    <h1 class="p-4 glbHeading md:text-2xl">{{ title }}</h1>
  </header>

  <div class="mx-auto lg:container">
    <article class="px-4 prose prose-globeBlue lg:prose-xl">
      {{ pages.content.rendered | safe }}
    </article>
  </div>

</main>

{% include 'blocks/augmentedPages.njk' %}

{# todo: check for subpages #}
