---
pagination:
  data: "pages"
  size: 1
  alias: pages
permalink: "{{ pages.slug }}/index.html"
layout: textPage
eleventyComputed:
  title: "{{ pages.title.rendered }}"
---

<main class="container mx-auto py-4">
  <header class="mx-auto">
    <h1 class="text-2xl">{{ title }}</h1>
  </header>

  <article class="prose prose-globeBlue lg:prose-xl mx-auto">
    {{pages.content.rendered | safe}}
  </article>
</main>
