---
pagination:
  data: "pages"
  size: 1
  alias: p
permalink: "{{ p.slug }}/index.html"
layout: textPage
eleventyComputed:
  title: "{{ p.title }}"
---
{% set parentPage = p | pageParent(pages) %}
{% set childPages = p | pageChildren(pages) %}

<main class="mt-12 px-4">
  <header class="m-4 mx-auto lg:container">
    <h1 class="p-4 glbHeading md:text-2xl">{{ title }}</h1>
  </header>

  <div class="mx-auto lg:container">
    <article class="px-4 prose prose-globeBlue lg:prose-xl">
      {{ p.content.rendered | safe }}
    </article>
  </div>

</main>

{% include 'blocks/augmentedPages.njk' %}

{# todo: check for subpages #}


{% if parentPage %}
Parent page: <a href="/{{ parentPage.slug }}">{{ parentPage.title }}</a>
{% endif %}


{# TODO: sort order #}
{% if childPages | length > 0 %}
  {% for page in childPages %}
    <li><a href="/{{page.slug}}">{{ page.title }}</a></li>
  {% endfor %}
{% endif %}
