---
pagePosition: bottom
---

<h2 class="sr-only">Values</h2>

<ul class="values">

  {% for value in values %}
    <li class="value__{{ value.title | slug }}">
      {% rwdImg
        './src/_assets/img/core/values/' + (value.title | slug) + '.jpg',
        value.imgAlt,
        [330, 550, 875, 1200],
        "",
        "(min-width: 640px) 350px, calc(100vw - 2rem)"
      %}

      <div>
        <h3>{{ value.title }}</h3>
        <p>{{ value.tag }}</p>
        <p>{{ value.description }}</p>
      </div>
    </li>
  {% endfor %}
</ul>
