---
---
<div class="mt-20 px-4">

  <div class="mx-auto lg:container">
    <div class="px-4 prose prose-globeBlue lg:prose-xl">
      This page has been augmented with content from ./src/augmentedPages…
    </div>

    <div class="px-4">
      <h1 class="glbHeading">Relational</h1>
    </div>

    <div class="px-4">
      <h1 class="glbHeading">Discipling</h1>
    </div>

    <div class="px-4">
      <h1 class="glbHeading">Missional</h1>
    </div>

    <div class="px-4">
      <h1 class="glbHeading">Generous</h1>
    </div>
  </div>
</div>
