<section class="mt-12 mb-4 p-4 border border-orange lg:container mx-auto sm:mb-8" id="newsletter">
  <h2 class="glbHeading">Stay in touch</h2>
  <p>Each week we send out an email to let you know what is going on in the life of the church.</p>
  <p>Want to get that kind of information too? Sign up now.</p>

  <form class="py-4 w-2/3" action="//theglobechurch.us14.list-manage.com/subscribe/post?u=3c53cfffa413d69cfa32538ca&amp;id=a1b221f798" method="post" target="_blank">
    <p class="mb-4">
      <label class="block" for="mce-EMAIL">Email address:</label>
      <input class="rounded w-full" type="email" value="" name="EMAIL" />
    </p>

    <p>
      <input class="glbBtn" type="submit" value="Subscribe" name="subscribe" />
    </p>

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c53cfffa413d69cfa32538ca_a1b221f798" tabindex="-1" value=""></div>
  </form>
</section>
