{% set aug = collections.augmented | augmentedPageCheck(p.slug) %}

{% if aug %}
  {% if build.env !== "production" %}
  <!-- Augmented Content from ./src/augmentedContent/{{p.slug}} -->
  {% endif %}
  {{ aug.templateContent | safe }}

{% endif %}
