<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-4">
  {% set d = null %}
  {% for event in eventList %}

    {% if event.startDate | formatDate !== d %}
      <h3 class="py-2 px-4 text-lg text-black font-bold border-b col-span-full">
        {{ event.startDate | formatDate('dddd Do MMMM') }}
      </h3>
      {% set d = event.startDate | formatDate %}
    {% endif %}

    <div class="mx-4">
      <a
        href="/calendar/{{ event.startDate | formatDate}}/{{ event.slug }}/"
        class="no-underline text-blue block group"
        itemscope itemtype="https://schema.org/Event"
      >

        {% if event.data.tags %}
          <div class="rounded bg-orange px-2 py-1 mb-2 text-xs text-white inline-block uppercase font-bold">
            {{ event.data.tags | first }}
          </div>
        {% endif %}

        <p class="font-bold group-hover:text-orange" itemprop="name">
          {{ event.title }}
        </p>

        <date class="flex gap-2 items-start" itemprop="startDate" content="{{ event.startDate }}">
          {% svgIcon "clock", "shrink-0 h-4 w-4 mt-1" %}
          <span>
            {{ event.startDate | formatDate('h:mma') }} – {{ event.endDate | formatDate('h:mma') }} ({{ event.duration }})
          </span>
        </date>

        {% if event.location %}
        <p class="flex gap-2 items-start" itemprop="location" itemscope itemtype="https://schema.org/Place">
          {% svgIcon "pin", "shrink-0 h-4 w-4 mt-1" %}
          <span>{{ event.location }}</span>
        </p>
        {% endif %}

        <p class="underline group-hover:text-orange group-hover:no-underline">
          More information
        </p>

      </a>
    </div>
  {% endfor %}

</div>
