 <footer class="border-t text-xs pt-4 mt-4">
  <div>
    {{ meta.registeredAddress}}
  </div>
  hello
  <div>
    &copy; Copyright 2015 – {{ data.currentYear }} The Globe Church &middot;
    Registered Charity 1160195 &middot;
    <a href="/about/our-privacy-policy">Privacy Policy</a>
  </div>
</footer>
