<div class="px-4">
  <footer id="footer" class="m-4 mt-0 lg:mt-20 lg:container mx-auto">
    <div class="text-base p-4 mb-0 sm:text-lg border-b">
      <strong class="font-bold">The Globe Church</strong> is all about Jesus, made up of all sorts of people, involved in the greatest&nbsp;mission…
    </div>


    <nav class="text-sm p-4 grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-6 lg:flex lg:gap-8">
      <ul class="flex flex-col gap-1">
        <li><a class="text-base uppercase font-bold" href="/about">About</a></li>
        <li><a class="no-underline hover:underline" href="/about">The Globe Church</a></li>
        <li><a class="no-underline hover:underline" href="/about/team">The team</a></li>
        <li><a class="no-underline hover:underline" href="/about/doctrinal-basis">What we believe</a></li>
        <li><a class="no-underline hover:underline" href="/about/affiliations">Affiliations</a></li>
        <li><a class="no-underline hover:underline" href="/about/jobs">Jobs</a></li>
        <li><a class="no-underline hover:underline" href="/about/policies">Policies</a></li>
      </ul>

      <ul class="flex flex-col gap-1">
        <li><a class="text-base uppercase font-bold" href="/sundays">Sundays</a></li>
        <li><a class="no-underline hover:underline" href="/sundays">Join us this Sunday</a></li>
        <li><a class="no-underline hover:underline" href="/sundays/#service">What to expect</a></li>
        <li><a class="no-underline hover:underline" href="/sundays">When and where</a></li>
        <li><a class="no-underline hover:underline" href="/sundays/#accessibility">Accessibility</a></li>
      </ul>

      <ul class="flex flex-col gap-1">
        <li><a class="text-base uppercase font-bold" href="/calendar">Calendar</a></li>
        <li><a class="no-underline hover:underline" href="/bible-study">Bible study</a></li>
        <li><a class="no-underline hover:underline" href="/prayer-meeting">Prayer meetings</a></li>
        <li><a class="no-underline hover:underline" href="/calendar/#thisWeek">This week</a></li>
        <li><a class="no-underline hover:underline" href="/calendar">All events</a></li>
      </ul>

      <ul class="flex flex-col gap-1">
        <li><a class="text-base uppercase font-bold" href="/preaching">Resources</a></li>
        <li><a class="no-underline hover:underline" href="/preaching">Sermon archive</a></li>
        <li><a class="no-underline hover:underline" href="/blog">Church blog</a></li>
      </ul>

      <ul class="flex flex-col gap-1">
        <li><a class="text-base uppercase font-bold" href="/get-involved">Join In</a></li>
        <li><a class="no-underline hover:underline" href="/prayer-meeting">Pray</a></li>
        <li><a class="no-underline hover:underline" href="/get-involved/students">Students</a></li>
        <li><a class="no-underline hover:underline" href="/get-involved/serving-teams">Serving teams</a></li>
        <li><a class="no-underline hover:underline" href="/get-involved/mission-partners">Mission partners</a></li>
        <li><a class="no-underline hover:underline" href="/get-involved/membership">Membership</a></li>
        <li><a class="no-underline hover:underline" href="/get-involved/training">Training scheme</a></li>
        <li><a class="no-underline hover:underline" href="/get-involved/giving">Giving</a></li>
      </ul>

      <ul class="flex flex-col gap-1">
        <li><a class="text-base uppercase font-bold" href="/contact">Contact</a></li>
        <li><a class="no-underline hover:underline" href="/contact">Get in touch</a></li>
        <li><a class="no-underline hover:underline" href="/contact/#newsletter">Newsletter</a></li>
      </ul>
    </nav>

    <div class="text-xs p-4">
      <p>&copy; Copyright 2015–{{ data.currentYear }} The Globe Church &middot;
        Registered Charity 1160195 &middot;
        <a href="/about/policies/safeguarding">Safeguarding</a> &middot;
        <a href="/about/policies/our-privacy-policy">Privacy&nbsp;Policy</a>
      </p>
      <p>Our address is {{ meta.registeredAddress}}</p>
    </div>

    {# <div class="hidden md:block absolute right-0 mb-8">
      {% svgIcon "tgcFooter", "w-[100px] h-[350px]", "The Globe Church Logo" %}
    </div> #}
  </footer>
</div>
