 <footer class="border-t text-xs pt-4 mt-4">

<!--
  <div>
    {{ meta.registeredAddress}}
  </div>
-->

  <div>
    &copy; Copyright {{ data.currentYear }} The Globe Church, London &middot;
    Registered Charity 1160195 &middot;
    <a href="/about/our-privacy-policy">Privacy Policy</a>
  </div>
</footer>
