<a class="sr-only" href="#site-content">
  Skip to site content
</a>

{# <div class="text-blue bg-gold p-4 text-center tracking-wide">
  ⚠️ This site is work in progress. Please see <a class="text-blue" href="https://globe.church">globe.church</a> for the current site.
</div> #}

<header class="relative" x-data="coreNav">

  <a href="/" title="The Globe Church" class="w-[175px] h-[110px] -top-12 uppercase font-bold no-underline fixed right-4 sm:w-fit sm:-top-12">
    <h1 class="sr-only">The Globe Church</h1>
    {% svgIcon "tgcLogoFilled", "w-full" %}
  </a>

  <div class="fixed left-0 top-0 bottom-0 p-4 z-10 sm:bg-blue sm:p-4 sm:text-white sm:w-16">
    <a
      href="#footer"
      @click.prevent="toggle"
      x-text="menuLabel"
      class="border rounded-sm px-1 text-sm block uppercase no-underline hover:underline sm:text-base sm:rotate-90 sm:border-0 sm:p-0"
    >
      Menu
    </a>
  </div>


  <div class="bg-white/75 fixed z-0 inset-0" x-show="navOpen" x-transition.opacity x-cloak>
  </div>

  <div class="ml-16 fixed z-10 top-0 bottom-0" x-show="navOpen" x-transition.opacity x-cloak>
    <div class="w-full max-w-xs flex flex-col justify-between bg-blue border-l border-l-white text-white h-screen">
      <nav class="flex flex-col gap-8 uppercase p-4">
        <a class="text-white text-xl no-underline hover:underline" href="/about">About</a>
        <a class="text-white text-xl no-underline hover:underline" href="/sundays">Sundays</a>
        <a class="text-white text-xl no-underline hover:underline" href="/calendar">Calendar</a>
        <a class="text-white text-xl no-underline hover:underline" href="/preaching">Preaching</a>
        <a class="text-white text-xl no-underline hover:underline" href="/get-involved">Get Involved</a>
        <a class="text-white text-xl no-underline hover:underline" href="/contact">Contact</a>
      </nav>

      <div class="bg-green text-white p-4 m-4">
        <p class="font-bold">Sundays at The Globe Church</p>
        <p class="my-2">Join The Globe Church this Sunday, 4pm at Globe Ark Accademy.</p>
        <p><a href="/sundays" class="text-white">Find out more</a></p>
      </div>
    </div>
  </div>
</header>


