<section class="c-podcast-promo">

  <header class="c-podcast-promo__header">
    <h1 class="glbHeading">Subscribe to the podcast</h1>
  </header>

  <main class="c-podcast-promo__body">
    {# <img src="/assets/podcast-cover-thumb.jpg" alt="Podcast artwork"> #}
    <p class="c-podcast-promo__body__lead">Sermons from The Globe Church</p>
    <p>Get Sunday's sermon in your podcatcher each week…</p>

    <div class="c-podcast-promo__body__list">
      <a target="_blank" rel="noopener" href="https://podcasts.apple.com/gb/podcast/the-globe-church-sermons/id1436294537" class="glbBtn bg-[#852dc4]">Apple Podcasts</a>
      <a target="_blank" rel="noopener" href="https://pca.st/21Vk" class="glbBtn bg-[#f43e38]">Pocket Casts</a>
      <a target="_blank" rel="noopener" href="https://open.spotify.com/show/08loxZkdYlbxwxy5HVduEQ?si=jD1CwmvsTyiGmqNcb1YXHw" class="glbBtn bg-[#1eba54]">Spotify</a>
      <a target="_blank" rel="noopener" href="/podcast/sermon.rss" class="glbBtn">RSS Feed</a>
    </div>

    <p>Or wherever you listen to podcasts</p>
  </main>

</section>
