@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/l?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/d?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/a?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/l?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/d?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/a?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=i4&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=n7&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/l?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/d?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/a?primer=2a7e8ded45b9c85ef8bf3a81ec5161f2a5e3188664ed213562009bfd13ab1ecb&fvd=i7&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

:root {
  --background: #ffffff;
  --text: hsl(233, 18%, 9%);
  --cream: hsl(20, 24%, 93%);
  --sockeye-orange: hsl(12, 59%, 55%);
  --petrel-blue: hsl(236, 17%, 19%);
  --gold-braid: hsl(49, 54%, 51%);
  --lark-green: 	hsl(152, 35%, 64%);
  --carol-blue: hsl(196, 52%, 45%);
  --cherry-pink: hsl(353, 54%, 57%);
  --sheer-lilac: hsl(290, 25%, 67%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-blue bg-cream;
    font-family: 'brandon-grotesque', sans-serif;
  }

  a {
    @apply text-orange underline hover:no-underline
  }

  [x-cloak] {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  figcaption {
    text-wrap: balance;
  }

  .glbHeading {
    @apply uppercase font-bold tracking-wider text-xl lg:text-2xl;
    color: theme('colors.blue.DEFAULT');
  }

  .glbBtn {
    @apply px-2 py-1 rounded bg-orange text-white no-underline transition-colors hover:bg-blue
  }

  .u-nobr {
    white-space: nowrap
  }
}


footer a {
  @apply text-blue;
  text-decoration-color: theme('colors.orange.DEFAULT');
}


.c-church-value {
  clear: both;
  padding: 25px 0;
  position: relative;
  width: 100%;
  color: #fff;
}

@media (min-width: 500px) {
  .c-church-value {
    margin-top: 50px;
  }
}

.c-church-value__background div {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

@media (min-width: 500px) {
  .c-church-value__background div {
    margin: 0 75px;
  }
}

@media (min-width: 1200px) {
  .c-church-value__background div {
    margin: 0 auto;
  }
}

.c-church-value__background__blur {
  display: none;
}

@media (min-width: 500px) {
  .c-church-value__background__blur {
    display: block;
    filter: blur(10px) saturate(0.5);
    position: absolute;
    transform: scale(1.2);
    top: 0;
    width: 100%;
    z-index: -2;
  }
}

.c-church-value__background__img {
  width: 100%;
}

@media (min-width: 500px) {
  .c-church-value__background__img {
    -webkit-filter: grayscale(85%);
    filter: grayscale(85%);
    float: right;
    width: 66%;
  }
}

@media (min-width: 500px) {
  .c-church-value__background {
    display: inline-block;
    overflow: hidden;
    padding: 75px 0;
    position: relative;
    width: 100%;
  }

  .c-church-value__background:before {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.c-church-value__body {
  margin: -100px auto 0;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}

.c-church-value__body div {
  padding: 10px;
}

@media (min-width: 500px) {
  .c-church-value__body {
    margin: -30% auto 0;
    padding: 0 75px 0;
  }

  .c-church-value__body div {
    max-width: 60%;
    padding: 15px 0;
  }
}

@media (min-width: 1200px) {
  .c-church-value__body {
    margin-top: -20%;
  }
}

.c-church-value__body__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: 500px) {
  .c-church-value__body__img {
    width: 75%;
  }
}

.c-church-value__body__title {
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 36px;
}

@media (min-width: 768px) {
  .c-church-value__body__title {
    font-size: 48px;
    letter-spacing: 2.56px;
    line-height: 58px;
  }
}

.c-church-value__body__tag {
  font-size: 24px;
  letter-spacing: 1.3px;
  line-height: 44px;
}

@media (min-width: 768px) {
  .c-church-value__body__tag {
    font-size: 30px;
    letter-spacing: 2.59px;
    line-height: 52px;
  }
}

.c-church-value__body__detail {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1.2px;
  line-height: 38px;
}

@media (min-width: 768px) {
  .c-church-value__body__detail {
    font-size: 26px;
    letter-spacing: 1.4px;
    line-height: 44px;
  }
}

.c-church-value__hugged-text {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
}

.c-church-value__hugged-text__padded {
  padding: 10px;
}

@media (min-width: 500px) {

  .c-church-value--discipling .c-church-value__background__img,
  .c-church-value--generous .c-church-value__background__img {
    float: left;
  }

  .c-church-value--discipling .c-church-value__body,
  .c-church-value--generous .c-church-value__body {
    text-align: right;
  }

  .c-church-value--discipling .c-church-value__body div,
  .c-church-value--generous .c-church-value__body div {
    clear: both;
    float: right;
  }
}

.c-church-value--relational .c-church-value__background:before {
  background-image: linear-gradient(-225deg, rgba(165, 88, 70, 0.59) 39%, rgba(108, 53, 41, 0.89) 97%);
}

.c-church-value--relational .c-church-value__hugged-text {
  background-color: #bf8a7f;
  box-shadow: -5px 9px 0 #bf8a7f, -5px -10px 0 #bf8a7f, 5px 9px 0 #bf8a7f, 5px -10px 0 #bf8a7f;
}

.c-church-value--discipling .c-church-value__background:before {
  background-image: linear-gradient(-226deg, rgba(67, 67, 67, 0.7) 37%, rgba(35, 29, 29, 0.8) 74%);
}

.c-church-value--discipling .c-church-value__hugged-text {
  background-color: #434343;
  box-shadow: -5px 9px 0 #434343, -5px -10px 0 #434343, 5px 9px 0 #434343, 5px -10px 0 #434343;
}

.c-church-value--missional .c-church-value__background:before {
  background-image: linear-gradient(-225deg, rgba(122, 115, 69, 0.59) 39%, rgba(122, 115, 69, 0.89) 97%);
}

.c-church-value--missional .c-church-value__hugged-text {
  background-color: #7a7345;
  box-shadow: -5px 9px 0 #7a7345, -5px -10px 0 #7a7345, 5px 9px 0 #7a7345, 5px -10px 0 #7a7345;
}

.c-church-value--generous .c-church-value__background:before {
  background-image: linear-gradient(-225deg, rgba(88, 141, 116, 0.59) 39%, rgba(54, 92, 74, 0.57) 96%);
}

.c-church-value--generous .c-church-value__hugged-text {
  background-color: #588d74;
  box-shadow: -5px 9px 0 #588d74, -5px -10px 0 #588d74, 5px 9px 0 #588d74, 5px -10px 0 #588d74;
}



/*Wordpress goodness*/

.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  @apply w-full aspect-video;
}

.wp-block-embed__wrapper {
  @apply relative;
}

.wp-embed-aspect-16-9 iframe {
  @apply absolute inset-0 w-full h-full;
}

.wp-block-audio audio {
  @apply w-full;
}

/* Team block */
.glb_peopleList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .glb_peopleList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .glb_peopleList {
    grid-template-columns: repeat(4, 1fr);
  }
}

.glb_peopleList img {
  margin: 0 auto;
  border-radius: 100%;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
}

.glb_peopleList p {
  margin: 0;
}

.values {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin: 3rem 1rem;
  color: white;

  .value__dependent {
    --value-color: var(--carol-blue);
  }

  .value__relational {
    --value-color: var(--cherry-pink);
  }

  .value__discipling {
    --value-color: var(--gold-braid);
  }

  .value__missional {
    --value-color: var(--lark-green);
  }

  .value__generous {
    --value-color: var(--sheer-lilac);
  }

  li {
    list-style: none;
    border-radius: 0.3rem;
    background: var(--petrel-blue);
    /* background: linear-gradient(rgba(209, 83, 101, 0.1), rgba(209, 83, 101, 0.1)), var(--petrel-blue); */
    overflow: hidden;
    text-wrap: pretty;

    &:hover{
      img {
        transform: scale(1.05);
      }
    }
  }

  @supports (background: color-mix(in srgb, red, black)) {
    li {
      background: color-mix(in hsl, var(--value-color), black 65%);
    }
  }

  img {
    border-bottom: 0.3rem solid var(--value-color);
    transition: transform 0.3s;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 100%;
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }

  h3 + p {
    margin-bottom: 1rem;
    font-style: italic;
  }

  div {
    padding: 1rem;;
  }
}

@media screen and (min-width: 640px) {
  .values {
    overflow-x: scroll;
    grid-template-columns: repeat(5, 1fr);

    scrollbar-color: var(--sockeye-orange) transparent;
    scrollbar-gutter: stable;

    li {
      min-width: 20rem;
    }
  }
}

@layer utilities {
  .wrap-balance {
    text-wrap: balance;
  }

  .wrap-pretty {
    text-wrap: pretty;
  }
}
