---
layout: default
eleventyComputed:
  description: "{{ meta.subtitle }}"
---

<section class="homeHeader">
  <div class="homeHeader__image js-imageBanner">
    {% rwdImg './src/_assets/img/core/home/01.jpg', "", [330, 550, 1024, 1500],
    "ani-cf-01", "(min-width: 640px) 66vh, 100vw" %} {% rwdImg
    './src/_assets/img/core/home/02.jpg', "", [330, 550, 1024, 1500],
    "ani-cf-02", "(min-width: 640px) 66vh, 100vw" %} {% rwdImg
    './src/_assets/img/core/home/04.jpg', "", [330, 550, 1024, 1500],
    "ani-cf-04", "(min-width: 640px) 66vh, 100vw" %} {% rwdImg
    './src/_assets/img/core/home/03.jpg', "", [330, 550, 1024, 1500],
    "ani-cf-03", "(min-width: 640px) 66vh, 100vw" %} {% rwdImg
    './src/_assets/img/core/home/05.jpg', "", [330, 550, 1024, 1500],
    "ani-cf-05", "(min-width: 640px) 66vh, 100vw" %}
  </div>

  <div class="homeHeader__container glbContainer">
    <div class="homeHeader__body">
      <p>
        <strong>The Globe Church</strong> is made of all sorts of people,
        following Jesus in London, sent on the greatest mission…
      </p>

      <a href="/about" class="iconLink">
        <span>About Globe</span>
        {% svgIcon "icon-arrowRight--circled" %}
      </a>
    </div>
  </div>
</section>

<main class="p-4">
  <section class="glbContainer">
    <div class="joinOnSunday">
      <div
        class="joinOnSunday__img block relative min-h-[200px] sm:min-h-[400px] w-full bg-cover bg-center text-white overflow-hidden"
      >
        {% rwdImg "./src/_assets/img/core/the-globe-church-at-ark-academy.jpg",
        "Sunday service at The Globe Church", [330, 550, 1024, 1500], "block
        h-full w-full inset-0 absolute object-cover", "(min-width: 640px) 50vw,
        100vw" %}
      </div>

      <div class="joinOnSunday__body p-4 flex flex-col justify-center">
        <h2 class="glbHeading">Join us this Sunday</h2>

        <div class="max-w-lg wrap-pretty mt-2">
          {% if meta.service.overrides %}
          <span
            class="rounded bg-[#dd7f67] px-2 py-1 mb-2 text-xs text-black inline-block uppercase font-bold"
          >
            gathering change
          </span>
          {% endif %} {{ meta.sundays | safe }}
        </div>
        <p class="mt-4">
          <a
            href="/sundays"
            class="px-2 py-1 mr-2 rounded bg-blue text-white no-underline transition-colors hover:bg-orange"
            >Find out more</a
          >
          <a
            href="{% mapUrl meta.service.fullAddress %}"
            class="text-blue decoration-orange"
            target="_blank"
            rel="noopener"
            >See a map</a
          >
        </p>
      </div>
    </div>
  </section>

  {% include 'blocks/cal/eventsUpcoming.njk' %}

  <div class="mx-auto lg:container mb-4">
    {% include 'blocks/latestSermon.njk' %}
  </div>
</main>
