---
layout: layouts/base.njk
---
<h1 class="text-2xl">Hello world</h1>

<ul>
  <li><a href="/calendar" class="underline hover:no-underline">Calendar</a></li>
  <li><a href="/preaching" class="underline hover:no-underline">Preaching</a></li>
  <li><a href="/blog" class="underline hover:no-underline">Blog</a></li>
  <li><a href="/pages" class="underline hover:no-underline">Pages</a></li>
</ul>
